extends layout

block variables
  - var brands = brands

block content
  h1= title

  if error
    p Dynamic Content
  else
    p Inventory stats:

    ul
      li #[strong Items: ] !{data.items}
      li #[strong Categories: ] !{data.brand}
